<h1>Edit <%= @tool.name %></h1>

<%= form_for @tool do |f| %>
		<%= f.label :name, "Name: " %>
		<%= f.text_field :name %> <br>
		<%= f.label :description, "Description (optional): " %>
		<%= f.text_field :description %> <br>
		<%= f.submit "Update Tool" %>
	
	<% end %>


<%= button_to "Delete this Tool", tool_path(@tool), :method => :delete, data: { confirm: 'Are you sure?' } %>