<h2><%= @tool.name %></h2>
<h3>Description</h3>
<p><%= @tool.description %></p>

<h3>Loan History</h3>
<% @tool.contracts.each do |c| %>
	<ol>
		<li>Loaned to <%= c.borrower.username %> on <%= c.created_at.strftime("%a %b %d %Y") %></li>
	</ol>
<% end %>
<%= link_to "Click here to Edit or Delete Tool", edit_tool_path(@tool) %>
<p><%= link_to "Back to My Dashboard", user_path(@user)%></p>