<h2><%= @tool.name %></h2>
<h3>Description</h3>
<p><%= @tool.description %></p>

<h3>Loan History</h3>
<% @tool.contracts.each do |c| %>
	<ol>
		<li>Loaned to <%= c.borrower.username %> on <%= c.created_at.strftime("%a %b %d %Y") %></li>
	</ol>
<% end %>
<p><a href="/tools/<%= "#{@tool.id}/edit" %>">Click here to Edit Tool</a></p>
<p><a href="/users/<%= "#{@tool.user_id}" %>">Back to My Dashboard</a></p>