<h1><%=@user.username%>'s Contracts</h1>

<h2>You have <%= @user.active.length %> active loans:</h2>
	<% @user.active_loans.each do |c| %>
		<ol>
			<li><h4><%=c.borrower.username%> has had your <%=c.tool.name%> since <%= c.created_at.strftime("%A, %B %d") %></h4>
			
				<%= form_for c do |f|%>
					<%= f.label "Extend the loan:" %>
					
					<%= f.submit "Keep it a little longer!", :name => 'extend' %> <br>
					<%= f.label "Click here to close out the loan:" %>
					<%=f.submit "Tool returned!", :name => 'return' %>

				<% end %>


				<!-- <form class="" action="/contracts/<%= c.id %>/edit" method="POST">
				  <input type="submit" value="Edit Contract" name="edit">
				</form> -->
			</li>
		</ol>
	<% end %>
	<br>
	<% @user.active_borrows.each.with_index(1) do |c, index| %>
		<ol>
			<li><%= index %>. You have had <%=c.loaner.username%>'s <%=c.tool.name%> since <%= c.created_at.strftime("%a %b %d %Y")%>
			</li>
		</ol>
	<% end %>
<br>
<h3>You've loaned and/or borrowed <%= @user.loan_history.length + @user.borrow_history.length %> tools!</h3>
		<% @user.loan_history.each do |loan| %>
			<ol>
				<li><%=loan.borrower.username%> returned your <%=loan.tool.name%> on <%= loan.updated_at.strftime("%a %b %d %Y") %></li>
			</ol>
		<% end %>
		<br>
		<% @user.borrow_history.each do |borrow| %>
			<ol>
				<li>You returned <%=loan.loaner.username%>'s <%=loan.tool.name%></li>
			</ol>
		<% end %>
<p><%= link_to "Back to My Dashboard", user_path(@user)%></p>