
	<h1>Welcome to your dashboard, <%= @user.username%>!</h1> <%=  button_to "Logout", logout_path(:id => session[:user_id]), :method => :delete %>


<!-- CONTRACTS SECTION -->
<h2><%= link_to "My Contracts", user_contracts_path(@user)%></h2>

<h3>Active Loans</h3>
	
	<% if @user.active_loans.empty? %>
			<p>You are not loaning any tools right now.</p>
		<% else %>
			<% @user.active_loans.each do |c| %>
				<!-- add DUE DATE -->
				<ol>
					<li><%= "You loaned your #{c.tool.name} to #{c.borrower.username} on #{c.created_at.strftime("%A, %B %d")}." %></li>
				</ol>
		<% end %>
	<% end %>

<h3>Active Borrows</h3>
	
	<% if @user.borrower_contracts.empty? %>
			<p>You are not borrowing any tools right now.</p>
		<% else %>
			<% @user.borrower_contracts.each do |c| %>
				<ol>
					<li><%= "You've had #{c.loaner.username}'s #{c.tool.name} since #{c.created_at.strftime("%A, %B %d")}." %></li>
				</ol>
			<% end %>
		<% end %>

<!-- TOOL SECTION, float side by side -->
<h2><%= link_to "My Toolbox", user_tools_path(@user)%></h2>
	<ol>
		<% @user.tools.each do |t| %>
				<p><li><b><%= link_to "#{t.name}:", tool_path(t.id)%></b> <%= " #{t.description}" %></li></p>
		<% end %>
	</ol>

<h3>Add some tools to your toolbox so you can loan them out!</h3>
	<%= form_for @tool do |f| %>
		<%= f.label :name, "Tool name: " %>
		<%= f.text_field :name %> <br>
		<%= f.label :description, "Description (optional): " %>	
		<%= f.text_field :description %>
		<%= f.submit "Add to my Toolbox" %>
	<% end %>

	<br>
	<br>

<!-- Loan or Borrow things, float side by side -->
<h3>Loan a Tool to Someone!</h3>
	<%= form_for @contract do |f| %>
		<%= f.label :borrower, "Borrower" %>
		<%= f.collection_select :borrower, User.all, :username, :username, {include_blank: true} %> <br> <br>
		<%= f.label :tool, "Tool: " %>
	<!-- 	<%= f.collection_select :tool, @user.available_tools, :name, :name, {include_blank: true} %> -->
		<%= f.select :tool_id, options_for_select(@user.available_tools.collect { | tool | [tool.name, tool.id] }, @tool.id), {include_blank: true}, {} %>
		<%= f.submit "Loan it out!" %>
	<% end %>
