<h1>Welcome, <%= @user.username%>!</h1>

<!-- CONTRACTS SECTION -->
<h2><!-- <a href="/users/contracts"> -->My Contracts<!-- </a> --></h2>

	<h3>Active Loans</h3>
	
1. asdfjl
2. alkjlkj
3. akjlk

	<h3>Active Borrows</h3>
	
1. lkjlk
2. lkjlk
3. lkjlk

<!-- TOOL SECTION, float side by side -->
<h2><!-- <a href="/users/tools"> -->My Tools<!-- </a> --></h2>
	<% @user.tools.each.with_index(1) do |t, index| %>
		<p>
			<b><%= "#{index}." %><a href="/tools/<%="#{t.id}"%>"><%= "#{t.name}" %></a>:</b> <%= t.description %>
		</p>
	<% end %>

<h3>Add some tools to your toolbox so you can loan them out!</h3>
	<%= form_for @tool do |f| %>
		<%= f.label :name, "Name: " %>
		<%= f.text_field :name %> <br>
		<%= f.label :description, "Description (optional): " %>
		<%= f.text_field :description %> <br>
		<%= f.submit "Add to my Toolbox" %>
	<% end %>